a.share-button
  border-radius: 50%

.share-toggle-button
  border-radius: 50%

.footer-nav
    align-items: center
    justify-content: center

.share-toggle-button
    z-index: 10000

.footer-nav > a
  font-size: 15px

.ftLink
  padding: 5pt

@media (min-width: 101px) and (max-width: 400px)
  .footer-nav
    display: flexbox

@media (min-width: 401px) and (max-width: 768px)
  .footer-nav
    display: flexbox

@media (min-width: 769px) and (max-width: 992px)
  .footer-nav
    display: inline-flex  
     
@media (min-width: 993px)
  .footer-nav
    display: inline-flex