<!--&lt;!&ndash;<div class="appFooter">-->
<!--    <img class="footerLogo" src="../../../assets/images/heya-mate-logo-std.svg" />-->

<!--    <p>-->
<!--        © 2019 Copyright: <a href="https://mahara.infotech.monash.edu.au/mahara/view/view.php?id=39358" target="_blank"> AmazingSixers</a>-->
<!--    </p>-->
<!--    <br>-->
<!--</div>-->
<link href="../../../assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<!-- CREATIVE SVG -->


<footer id="footer" style="background-color: rgb(255, 255, 255)"></footer>
<!-- =========================
	FOOTER
============================== -->
<footer class="footer divider-right-bot divider-right-bot-footer">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="fot-logo">
                <div class="share1">
                    <button class="share-toggle-button">
            <i class="share-icon fa fa-share-alt"></i>
          </button>
                    <ul class="share-items">
                        <li class="share-item">
                            <a href="https://www.facebook.com/sharer/sharer.php?p[title]=heya-mate+is+awesome&u=https%3A%2F%2Fwww.heya-mate.ml" target="_blank" class="share-button" style="background-color: #3b5998 !important;">
                                <i class="share-icon fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="share-item">
                            <a href="http://pinterest.com/pin/create/button/?description=heya-mate+is+awesome&url=https%3A%2F%2Fwww.heya-mate.ml" target="_blank" class="share-button" style="background-color: #c8232c  !important;">
                                <i class="share-icon fa fa-pinterest"></i>
                            </a>
                        </li>
                        <li class="share-item">
                            <a href="http://twitter.com/share?text=heya-mate+is+awesome&url=https%3A%2F%2Fwww.heya-mate.ml" target="_blank" class="share-button" style="background-color: #42dbcc  !important;">
                                <i class="share-icon fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="share-item">
                            <a href="http://www.tumblr.com/share/link?url=https%3A%2F%2Fwww.heya-mate.ml&amp;name=heya-mate&amp;description=heya-mate+is+awesome" target="_blank" class="share-button" style="background-color: #34526f   !important;">
                                <i class="share-icon fa fa-tumblr"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="footer-nav">

                <div class="ftLink"><a (click)="openPage('culture_and_etiquette')" target="_blank">Culture & Etiquette</a></div>

                <div class="ftLink"> <a (click)="openPage('events')" target="_blank">Local Events</a></div>

                <div class="ftLink"> <a (click)="openPage('accommodation')" target="_blank">Find accommodation</a></div>

                <div class="ftLink"> <a (click)="openPage('local_attractions')" target="_blank">Local Attractions</a></div>

                <div class="ftLink"><a (click)="openPage('festivals')" target="_blank">International Festivals</a></div>

                <div class="ftLink"> <a (click)="openPage('food')" target="_blank">Local & International Food</a></div>

                <div class="ftLink"><a (click)="openPage('meetups')" target="_blank">Local Meetup Groups</a></div>

                <div class="ftLink"> <a (click)="openPage('aussie_slang')" target="_blank">Aussie Slang</a></div>

            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="container">
                <div class="copy">
                    <a href="https://mahara.infotech.monash.edu.au/mahara/view/view.php?id=39358" target="_blank">Amazing Sixers</a
                  > 
                </div><br>
                <div class="copy">
                    &copy; Copyright <strong>Heya Mate</strong>. All Rights Reserved
                </div>
               
     
      </div>
    </div>
  </div>
</footer>
<!-- =========================
END FOOTER
============================== -->