<!-- <h2>cultureshock - {{cultureshock}}</h2>
<h2>homesick - {{homesick}}</h2>
<h2>loneandanxious - {{loneanx}}</h2>
-->

<!-- Culture Shock-->
<div>
    <img src='https://d30y9cdsu7xlg0.cloudfront.net/png/53504-200.png' (click)="onNoClick()" class="closeImg" />
</div>
<div *ngIf="cultureshock === true">
    <div *ngIf="csPanel === true">
        <span class="areaHeader"> Culture Shock</span>
        <br><br>
        <div class="panelIcon">
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <input (click)="clickCSFuncOne()" class="funcIcon" type="image" src="../../../assets/images/poi-icon.png" alt="POI">
                    <br><br>
                    <span class="panelHeader">Places of Attraction</span>
                </div>
                <div class="col-sm-4 col-md-4">
                    <input (click)="clickCSFuncTwo()" class="funcIcon" type="image" src="../../../assets/images/au-community-icon.png" alt="Australian Community">
                    <br><br>
                    <span class="panelHeader">Local Events</span>
                </div>
                <div class="col-sm-4 col-md-4">
                    <input (click)="clickCSFuncThree()" class="funcIcon" type="image" src="../../../assets/images/slang-icon.png" alt="Australian Slang">
                    <br><br>
                    <span class="panelHeader">Australian Slang</span>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isClose === true">
        <button class="areaButton" mat-button mat-raised-button color="primary" (click)="onNoClick()" cdkFocusInitial>Close</button>
    </div>
</div>

<div *ngIf="cultureshock === true">
    <div *ngIf="csFuncOne === true">
        <span class="areaHeader">Places of Attraction</span>
        <br>
        <app-point-of-interest></app-point-of-interest>
    </div>
    <div *ngIf="csFuncTwo === true">
        <span class="areaHeader">Local Events</span>
        <br>
        <app-events></app-events>
    </div>
    <div *ngIf="csFuncThree === true">
        <span class="areaHeader">Australian Slang</span>
        <br>
        <app-slang></app-slang>
    </div>
    <br>
    <br>
    <div *ngIf="csPanel === false">
        <button mat-button mat-raised-button color="primary" (click)="clickCSPanel()" cdkFocusInitial>Back</button>
    </div>
</div>

<!-- Homesickness code-->
<div *ngIf="homesick === true">
    <div *ngIf="hsPanel === true">
        <span class="areaHeader">Homesickness</span>
        <br>
        <div class="panelIcon">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <input (click)="clickHSFuncOne()" class="funcIcon" type="image" src="../../../assets/images/food-icon.png" alt="Food">
                    <br>
                    <span class="panelHeader">Food</span>
                </div>
                <div class="col-sm-6 col-md-6">
                    <input (click)="clickHSFuncTwo()" class="funcIcon" type="image" src="../../../assets/images/cultural-events-icon.png" alt="International Community">
                    <br>
                    <span class="panelHeader">Chinese & Indian Festivals</span>
                </div>
                <!-- <div class="col-sm-4 col-md-4">
                    <input (click)="clickCSFuncThree()" class="funcIcon" type="image" src="../../../assets/images/slang-icon.png" alt="Australian Slang">
                    <br><br>
                    <span class="panelHeader">Australian Slang</span>
                </div>
                -->
            </div>
        </div>
    </div>
    <div *ngIf="isClose === true">
        <button class="areaButton" mat-button mat-raised-button color="primary" (click)="onNoClick()" cdkFocusInitial>Close</button>
    </div>
</div>
<div *ngIf="homesick === true">
    <div *ngIf="hsFuncOne === true">
        <span class="areaHeader">Food Search</span>
        <br><br>
        <app-restaurants></app-restaurants>
    </div>
    <div *ngIf="hsFuncTwo === true">
        <span class="areaHeader">Chinese & Indian Festivals</span>
        <br><br>
        <app-festivals></app-festivals>
    </div>
    <!-- <div *ngIf="hsFuncThree === true">
        <span class="areaHeader">Australian Slang</span>
        <br><br>
    </div>-->
    <br>
    <br>
    <div *ngIf="hsPanel === false">
        <button mat-button mat-raised-button color="primary" (click)="clickHSPanel()" cdkFocusInitial>Back</button>
    </div>
</div>

<!-- Loneliness & Anxiety
<div *ngIf="loneanx === true">
    <div *ngIf="laPanel === true">
        <div class="panelIcon"></div>
    </div>
    <div *ngIf="laFunc1 === true">
    </div>
    <div *ngIf="laFunc2 === true">
    </div>
    <div *ngIf="laFunc3 === true">
    </div>
</div>
<div *ngIf="isClose === true">
    <button class="areaButton" mat-button mat-raised-button color="primary" (click)="onNoClick()" cdkFocusInitial>Close</button>
</div>
-->