<br>
<div class="container-fluid container">
  <h4 class="title">Festivals</h4>
  <p class="description"> Chinese and Indian people share the majority in the migrant population in Australia. Feel free to join in and celebrate your culture while embracing Australia.</p>
    <div class="row">
        <div class="col-md-6">
            <mat-form-field>
                <mat-label>Choose your preference</mat-label>
                <mat-select>
                    <mat-option *ngFor="let item of optionsSelect" [value]="item.value" (click)="onOptionSelected(item.value)">
                        {{item.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6 col-md-6" *ngFor="let item of items">
            <mat-card>
                <a [href]="item.link" target="_blank"><img mat-card-image [src]="item.image" onError="this.src='../../../assets/images/image_not_found.png' " matTooltip="See details" matTooltipPosition="above" style="max-width: 525px;max-height: 248px; min-height: 248px"></a>
                <mat-card-title>{{item.name}}</mat-card-title>
                <mat-card-content>
                    <p>{{item.description}}</p>
                </mat-card-content>
            </mat-card>
            <br>
        </div>
    </div>
</div>
