<div class="sectionHeader">
    <span>Should I get "help"?</span>
</div>
<br>

<p>
    “As our mate, you are our utmost priority and we are trying our best to make sure that you never feel lonely, homesick or culturally unaware. But if you do, you should muster up the confidence to help immediately. In this section, we would like to bust
    some myths or notions that you might have, that we think will take you a step closer to press that "help" button! And guess what, these info-graphics are created using the government provided official data.”
</p>
<br>
<!--<div class="col-sm-12 col-md-6">-->
<div class="subSectionHeader">
    <span>Immigrations and International Students Information</span>
</div>
<mat-vertical-stepper [linear]="isLinear" #stepper1>
    <!-- First form group -->
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <!--<ng-template matStepLabel>National distribution of people arriving in Australia</ng-template>-->
            <ng-template matStepLabel>Heya mate! It's a fact that Chinese and Indian people share majority in migrant population in Australia.</ng-template>
            <mat-card class="col-sm-10 offset-sm-1 col-md-8 offset-med-2">
                <mat-card-content>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 visImgHead">
                                <img class="visImgIcon" src="../assets/images/NationalDistribution.png" (click)="openDialog()" class="img-thumbnail" alt="Cinque Terre" width="250" height="250" matTooltip="Click to interact" matTooltipPosition="above" matTooltipClass="visTooltip">
                            </div>
                            <div class="col-sm-6 col-md-6 visImgText">Australia is a land of diverse cultures. Within Australian migrant population, China and India are the part of the Top 5 countries of origin. So just go out there and be confident!
                            </div>
                        </div>
                    </div>
                    <mat-card-actions align="end" class="next">
                        <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </mat-card-actions>
                </mat-card-content>
            </mat-card>
        </form>
    </mat-step>

    <!-- Second form group -->
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <!--<ng-template matStepLabel>English speaking status of people immigrating to Australia</ng-template>-->
            <ng-template matStepLabel>Please don't under estimate your English speaking skills.</ng-template>
            <mat-card class="col-sm-10 offset-sm-1 col-md-8 offset-med-2">
                <mat-card-content>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 visImgText">
                                You know what? Out of the 2.5 million migrants who came from a non English speaking background, 84% had great English speaking skills. Don't worry if you think you're not great, as plenty of help services are available.
                            </div>
                            <div class="col-sm-6 col-md-6 visImgHead">
                                <img class="col-sm-6 col-md-6" src="../assets/images/EnglishStatus.png" (click)="openDialogSix()" class="img-thumbnail" alt="Cinque Terre" width="250" height="250" matTooltip="Click to interact" matTooltipPosition="right" matTooltipClass="visTooltip">
                            </div>
                        </div>
                    </div>
                    <mat-card-actions class="next">
                        <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </mat-card-actions>
                </mat-card-content>
            </mat-card>
        </form>
    </mat-step>

    <mat-step [stepControl]="sixthFormGroup">
        <form [formGroup]="sixthFormGroup">
            <!--<ng-template matStepLabel>International students coming to Australia</ng-template>-->
            <ng-template matStepLabel>You’re not alone, buddy!</ng-template>
            <mat-card class="col-sm-10 offset-sm-1 col-md-8 offset-med-2">
                <mat-card-content>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 visImgHead">
                                <img class="col-sm-6 col-md-6" src="../assets/images/InternationalStudents.png" (click)="openDialogTwo()" class="img-thumbnail" alt="Cinque Terre" width="250" height="250" matTooltip="Click to interact" matTooltipPosition="right" matTooltipClass="visTooltip">
                            </div>
                            <div class="col-sm-6 col-md-6 visImgText">
                                Did you know that from 2011 till 2018, 1.9 million Chinese and 1 million Indian students visited Victoria in Australia. Certainly, that shows that there have been considerable number of students from your nationality that come to Australia for pursuing
                                higher education.
                            </div>
                        </div>
                    </div>
                    <mat-card-actions align="end" class="reset">
                        <button mat-raised-button color="primary" (click)="stepper1.reset()">Back to top</button>
                    </mat-card-actions>
                </mat-card-content>
            </mat-card>
        </form>
    </mat-step>

</mat-vertical-stepper>
<!--</div>-->

<!--<div class="col-sm-12 col-md-6">-->

<div class="subSectionHeader">
    <span>Mental Health in Australia</span>
</div>

<mat-vertical-stepper [linear]="isLinear" #stepper2>

    <!-- Third form group -->
    <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
            <!--<ng-template matStepLabel>Definitely not the first one to acknowledge and seek medical assistance on a mental issue ...</ng-template>-->
            <ng-template matStepLabel>In Australia, Mental Health issues are taken very seriously, and help is always available for anyone who requires it.</ng-template>
            <mat-card class="col-sm-10 offset-sm-1 col-md-8 offset-med-2">
                <mat-card-content>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 visImgText">
                                Are you okay? More than 5 million people have acknowledged that they faced Anxiety related issues. Help is always there for you and we highly encourage you to seek it in case you ever feel that you’re getting impacted
                            </div>
                            <div class="col-sm-6 col-md-6 visImgHead">
                                <img class="col-sm-6 col-md-6" src="../assets/images/MentalHealthDisorders.png" (click)="openDialogThree()" class="img-thumbnail" alt="Cinque Terre" width="250" height="250" matTooltip="Click to interact" matTooltipPosition="right" matTooltipClass="visTooltip">
                            </div>
                        </div>
                    </div>
                    <mat-card-actions class="next">
                        <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </mat-card-actions>
                </mat-card-content>
            </mat-card>
        </form>
    </mat-step>

    <!-- Fourth form group -->
    <mat-step [stepControl]="fourthFormGroup">
        <form [formGroup]="fourthFormGroup">
            <!--<ng-template class="sub-header" matStepLabel>Mental health services usage metrics</ng-template>-->
            <ng-template class="sub-header" matStepLabel>Remember, Mental Health is treatable. International students who had sought help in this aspect are always guided with an effective recovery plan.</ng-template>
            <mat-card class="col-sm-10 offset-sm-1 col-md-8 offset-med-2">
                <mat-card-content>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 visImgHead">
                                <img class="col-sm-6 col-md-6" src="../assets/images/MentalHealthServices.png" (click)="openDialogFour()" class="img-thumbnail" alt="Cinque Terre" width="250" height="250" matTooltip="Click to interact" matTooltipPosition="right" matTooltipClass="visTooltip">
                            </div>
                            <div class="col-sm-6 col-md-6 visImgText">
                                There are a lot of ways in which you can receive help. Did you know that Monash University provides its students with free counselling services? So, no matter if you’re from Australia, China or India, all individuals are treated with utmost care and attention.
                                In recent years, more than 70,000 youths aged between 18 to 24 have sought help from Clinical Psychologist, who are expert in dealing Mental health issues.
                            </div>
                        </div>
                    </div>
                    <mat-card-actions align="end" class="next">
                        <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </mat-card-actions>
                </mat-card-content>
            </mat-card>
        </form>
    </mat-step>

    <!-- Fifth form group -->
    <mat-step [stepControl]="fifthFormGroup">
        <form [formGroup]="fifthFormGroup">
            <!--<ng-template matStepLabel>Consumer experience ratings for mental health services</ng-template>-->
            <ng-template class="sub-header" matStepLabel>We are pretty sure that you will come out with a positive experience and embrace life again.</ng-template>
            <mat-card class="col-sm-10 offset-sm-1 col-md-8 offset-med-2">
                <mat-card-content>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 visImgText">
                                88% people in Australia who approached health services improved on their Mental Health and were highly satisfied with the help that they received. So irrespective of the fact that you’re from China or India, please feel free to approach professional help
                                in this domain!
                            </div>
                            <div class="col-sm-6 col-md-6 visImgHead">
                                <img class="col-sm-6 col-md-6" src="../assets/images/MentalHealthRating.png" (click)="openDialogFive()" class="img-thumbnail" alt="Cinque Terre" width="250" height="250" matTooltip="Click to interact" matTooltipPosition="right" matTooltipClass="visTooltip">
                            </div>
                        </div>
                    </div>
                    <mat-card-actions>
                        <button mat-raised-button color="primary" (click)="stepper2.reset()">Back to top</button>
                    </mat-card-actions>
                </mat-card-content>
            </mat-card>
        </form>
    </mat-step>
</mat-vertical-stepper>
<!--</div>-->