<section id="services">
    <div class="container">
        <div class="section-header">
            <h2>HOW CAN WE HELP?</h2>
        </div>
        <div class="entranceCard">
            <div class="box wow fadeInLeft childCard" (click)="openPage('culture_and_etiquette')">
                <div class="icon">
                    <img src="https://img.icons8.com/cotton/64/000000/handshake.png" />
                </div>
                <h4 class="title">Culture & Etiquette</h4>
                <p class="description">
                    Gday! Welcome to our guide to Aussie culture, customs, etiquette and business practices. Ace for anyone living in Australia!
                </p>
            </div>
            <div class="box wow fadeInLeft childCard" data-wow-delay="0.2s" (click)="openPage('aussie_slang')">
                <div class="icon">
                    <img src="https://img.icons8.com/cotton/64/000000/comments--v2.png" />
                </div>
                <h4 class="title">Australian Slang</h4>
                <p class="description">
                    Do you like barbie? No, we are not talking about the barbie doll. Aussies love their "Barbecue" and that's what it means. Do you think you know the Australian slang better?
                </p>
            </div>
        </div>
        <div class="entranceCard">
            <div class="box wow fadeInRight childCard" data-wow-delay="0.2s" (click)="openPage('meetups')">
                <div class=" icon ">
                    <img src="https://img.icons8.com/cotton/64/000000/groups.png " />
                </div>
                <h4 class="title ">Local Meetup Groups</h4>
                <p class="description ">
                    Looking for like-minded people or groups for support, learning or sharing? Quickly find and join with our MeetUp group search feature.
                </p>
            </div>
            <div class="box wow fadeInLeft childCard" (click)="openPage('accommodation')">
                <div class="icon">
                    <img src="https://img.icons8.com/cotton/64/000000/pickup-point.png" />
                </div>
                <h4 class="title">Accommodation</h4>
                <p class="description">
                    Want to find out which suburb has a dominant population from Indian and Chinese background as compared to other nationalities? Also, you can rent an apartment in a suburb based on your choice.
                </p>
            </div>
        </div>
        <div class="entranceCard">
            <div class="box wow fadeInRight childCard" (click)="openPage('local_attractions')">
                <div class="icon">
                    <img src="https://img.icons8.com/cotton/64/000000/landscape.png" />
                </div>
                <h4 class="title">Local Attractions</h4>
                <p class="description">
                    Do you believe in Wanderlust? Well, then this will be a dazzling experience for you. Find out for yourself why Melbourne tops the list of most livable cities in the world.
                </p>
            </div>
            <div class="box wow fadeInLeft childCard" data-wow-delay="0.2s" (click)="openPage('food')">
                <div class="icon">
                    <img src="https://img.icons8.com/cotton/64/000000/bread-and-rye--v2.png" />
                </div>
                <h4 class="title">Local & International Food</h4>
                <p class="description">
                    Everyone loves food. Chinese and Indian cuisine is a popular demand among people in Melbourne. We have got this thing covered for you, just search for the cuisine you would like to have.
                </p>
            </div>
        </div>
        <div class="entranceCard">
            <div class="box wow fadeInRight childCard" data-wow-delay="0.2s" (click)="openPage('events')">
                <div class="icon">
                    <img src="https://img.icons8.com/cotton/64/000000/calendar.png" />
                </div>
                <h4 class="title">Local Events</h4>
                <p class="description">
                    Game for attending local events? Film, music, sport; you can search it all.
                </p>
            </div>
            <div class="box wow fadeInRight childCard" data-wow-delay="0.2s" (click)="openPage('festivals')">
                <div class="icon">
                    <img src="https://img.icons8.com/cotton/50/000000/confetti--v1.png" />
                </div>
                <h4 class="title">Festivals</h4>
                <p class="description">
                    Chinese and Indian people share the majority in the migrant population in Australia. Feel free to join in and celebrate your culture while embracing Australia.
                </p>
            </div>
        </div>
    </div>
</section>