<section id="about" class="wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 about-img">
                <img src="../../../assets/images/Intro-pic.jpg" alt="">
            </div>

            <div class="col-lg-6 content">
                <h2>Is this your first visit to Australia?</h2>
                <h3>Getting started with your academic journey? We know that adapting to an unfamiliar environment is not easy. If you ...</h3>

                <ul>
                    <li><i class="ion-android-checkmark-circle"></i> Feeling lonely or anxious?</li>
                    <li><i class="ion-android-checkmark-circle"></i> Helpless without guidance?</li>
                    <li><i class="ion-android-checkmark-circle"></i> Experiencing homesickness?</li>
                    <li><i class="ion-android-checkmark-circle"></i> Or just overwhelmed by the culture?</li>
                </ul>

                <h3>No worries! We got you covered!</h3>
            </div>
        </div>

    </div>
</section>