.c1
    height: 160px

.c2 
    height: 370px
    
.info1
    align: center
    font-size:44pt
    display: inline-flex
    align-items: center
    justify-content: center
    padding: 5pt

.info2
    align: center    
    display: inline-flex
    align-items: center
    justify-content: center
    padding: 5pt

.info1x
    align: center
    font-size:80pt
    display: inline-flex
    align-items: center
    justify-content: center
    padding: 10pt

.info2x
    align: center    
    display: inline-flex
    align-items: center
    justify-content: center
    padding: 10pt
    font-size:16pt


@media (min-width: 101px) and (max-width: 400px)
    .info1x
        font-size:50pt
    .info2x
        font-size:17pt

@media (min-width: 401px) and (max-width: 768px)
    .info1x
        font-size:50pt
    .info2x
        font-size:17pt
@media (min-width: 769px) and (max-width: 992px)
    .info1x
        font-size:60pt
    .info2x
        font-size:16pt
    
@media (min-width: 993px)
    .info1x
        font-size:80pt
    .info2x
        font-size:16pt