<section id="purpose" class="container">
    <br>
    <div class="section-header">
        <h2>YOU’RE NOT ALONE!</h2>
    </div>
    <br>
    <div class="infograph">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="owl-carousel owl-theme enable-owl-carousel verticale-owl-controls" data-wow-delay="0.7s" data-navigation="false" data-pagination="false" data-single-item="false" data-auto-play="true" data-stop-on-hover="true" data-transition-style="false"
                            data-main-text-animation="false" data-min600="1" data-min800="1" data-min1200="1">
                            <div class="item">
                                <div class="card-panel c1 green  wow flipInX">
                                    <div class="col-sm-12">
                                        <span class="white-text info1">
                                                10.1%
                                    </span>
                                    </div>
                                    <div class="col-sm-12">
                                        <span class="white-text info2">
                                        of the total overseas-born population in Victoria are Indians
                                   </span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="card-panel c1 orange">
                                    <div class="col-sm-12">
                                        <span class="white-text info1">
                                        35%
                                            </span>
                                    </div>
                                    <div class="col-sm-12">
                                        <span class="white-text info2">
                                            arrived to Australian shores in the last 10 years
                                                             </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="owl-carousel owl-theme enable-owl-carousel verticale-owl-controls" data-wow-delay="0.7s" data-navigation="false" data-pagination="false" data-single-item="false" data-auto-play="true" data-stop-on-hover="true" data-transition-style="false"
                            data-main-text-animation="false" data-min600="1" data-min800="1" data-min1200="1">
                            <div class="item">
                                <div class="card-panel c1 red  wow flipInY">
                                    <div class="col-sm-12">
                                        <span class="white-text info1">
                                                250K
                                    </span>
                                    </div>
                                    <div class="col-sm-12">
                                        <span class="white-text info2">
                                       Indian students arrived in 2018
                                   </span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="card-panel c1 blue">
                                    <div class="col-sm-12">
                                        <span class="white-text info1">
                                        114K
                                            </span>
                                    </div>
                                    <div class="col-sm-12">
                                        <span class="white-text info2">
                                         of them pursued education in Victoria
                                                             </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">

                <div class="owl-carousel owl-theme enable-owl-carousel verticale-owl-controls" data-wow-delay="0.7s" data-navigation="false" data-pagination="false" data-single-item="false" data-auto-play="true" data-stop-on-hover="true" data-transition-style="false"
                    data-main-text-animation="false" data-min600="1" data-min800="1" data-min1200="1">
                    <div class="item">
                        <div class="card-panel c2 purple  wow flipInY">
                            <div class="col-sm-12">
                                <span class="white-text info1x">
                                                $35B
                                    </span>
                            </div>
                            <div class="col-sm-12">
                                <span class="white-text info2x">
                                        yearly influx to the Australian economy by the international students
                                   </span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card-panel c2 black">
                            <div class="col-sm-12">
                                <span class="white-text info1x">
                                        49%
                                            </span>
                            </div>
                            <div class="col-sm-12">
                                <span class="white-text info2x">
                                        Victorians are either born overseas or first generation Australians
                                                             </span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card-panel c2 purple">
                            <div class="col-sm-12">
                                <span class="white-text info1x">
                                            600K
                                                </span>
                            </div>
                            <div class="col-sm-12">
                                <span class="white-text info2x">
                                        people had faced anxiety of some form over the past decade in Australia
                                                                 </span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card-panel c2 black">
                            <div class="col-sm-12">
                                <span class="white-text info1x">
                                                2.1M
                                                    </span>
                            </div>
                            <div class="col-sm-12">
                                <span class="white-text info2x">
                                        young adults have leveraged mental health services over the past 5 years
                                                                     </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="owl-carousel owl-theme enable-owl-carousel verticale-owl-controls" data-wow-delay="0.7s" data-navigation="false" data-pagination="false" data-single-item="false" data-auto-play="true" data-stop-on-hover="true" data-transition-style="false"
                            data-main-text-animation="false" data-min600="1" data-min800="1" data-min1200="1">
                            <div class="item">
                                <div class="card-panel c1 blue  wow flipInX">
                                    <div class="col-sm-12">
                                        <span class="white-text info1">
                                                        9.6%
                                            </span>
                                    </div>
                                    <div class="col-sm-12">
                                        <span class="white-text info2">
                                                are chinese out of total overseas-born population in Victoria
                                           </span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="card-panel c1 red">
                                    <div class="col-sm-12">
                                        <span class="white-text info1">
                                                42%
                                                    </span>
                                    </div>
                                    <div class="col-sm-12">
                                        <span class="white-text info2">
                                                    arrived to Australian shores just in the last decade
                                                                     </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="owl-carousel owl-theme enable-owl-carousel verticale-owl-controls" data-wow-delay="0.7s" data-navigation="false" data-pagination="false" data-single-item="false" data-auto-play="true" data-stop-on-hover="true" data-transition-style="false"
                            data-main-text-animation="false" data-min600="1" data-min800="1" data-min1200="1">
                            <div class="item">
                                <div class="card-panel c1 orange  wow flipInY">
                                    <div class="col-sm-12">
                                        <span class="white-text info1">
                                                        544K
                                            </span>
                                    </div>
                                    <div class="col-sm-12">
                                        <span class="white-text info2">
                                               chinese students arrived in 2018
                                           </span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="card-panel c1 green">
                                    <div class="col-sm-12">
                                        <span class="white-text info1">
                                                188K
                                                    </span>
                                    </div>
                                    <div class="col-sm-12">
                                        <span class="white-text info2">
                                                 of them studied in Victoria
                                                                     </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>