<section id="team" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>Did you know?</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="box wow fadeInLeft">
                    <div class="member" (click)="openDialog()" matTooltip="Click to explore" matTooltipPosition="above">
                        <div class="pic"><img src="../../../assets/images/NationalDistribution.png" alt=""></div>
                        <div class="details">
                            <!--            <h4>Title</h4>-->
                            <p style="font-size: 20px"><strong>Within the Australian migrant population, China and India are part of the Top 5 countries of origin</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="box wow fadeInUp">
                    <div class="member" (click)="openDialogSix()" matTooltip="Click to explore" matTooltipPosition="above">
                        <div class="pic"><img src="../../../assets/images/EnglishStatus.png" alt=""></div>
                        <div class="details">
                            <!--            <h4>Title</h4>-->
                            <p style="font-size: 20px"><strong>Out of the 2.5 million migrants who came from a non-English speaking background, 84% had proficient English speaking skills</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="box wow fadeInRight">
                    <div class="member" (click)="openDialogTwo()" matTooltip="Click to explore" matTooltipPosition="above">
                        <div class="pic"><img src="../../../assets/images/InternationalStudents.png" alt=""></div>
                        <div class="details">
                            <!--            <h4>Title</h4>-->
                            <p style="font-size: 20px"><strong>During last decade, 1.9 million Chinese and 1 million Indian students visited Victoria in Australia</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="box wow fadeInLeft">
                    <div class="member" (click)="openDialogThree()" matTooltip="Click to explore" matTooltipPosition="above">
                        <div class="pic"><img src="../../../assets/images/MentalHealthDisorders.png" alt=""></div>
                        <div class="details">
                            <p></p>
                            <p style="font-size: 20px;line-height: 45px"><strong>More than 5 million people have acknowledged that they have faced Anxiety-related issues</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="box wow fadeInUp">
                    <div class=" member " (click)="openDialogFour() " matTooltip="Click to explore" matTooltipPosition="above">
                        <div class="pic "><img src="../../../assets/images/MentalHealthServices.png " alt=" "></div>
                        <div class="details ">
                            <p style="font-size: 20px;line-height: 38px"><strong>In recent years, more than 70,000 youths aged between 18 to 24 have sought help from Clinical Psychologist</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="box wow fadeInRight ">
                    <div class="member " (click)="openDialogFive() " matTooltip="Click to explore" matTooltipPosition="above">
                        <div class="pic "><img src="../../../assets/images/MentalHealthRating.png " alt=" "></div>
                        <div class="details ">
                            <p style="font-size: 20px"><strong>88% of people in Australia who approached health services improved on their Mental Health and were highly satisfied with the help that they received</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>