.box
    box-shadow: 1px 2px 1px rgba(73, 78, 92, 0.1)
    transition: 0.4s

.box:hover 
    box-shadow: 10px 10px 10px rgba(73, 78, 92, 0.15)
    transform: translateY(-10px)
    -webkit-transform: translateY(-10px)
    -moz-transform: translateY(-10px)