.slangFrame
  height: 70vh
  padding: 0


table
  width: 100%

.tableGroup

.tableHeader
  text-align: center

  .slangContainer
    text-align: center

.radioBox
  width: 100%
  text-align: center

.radioButton
  margin: 5px

.description
  font-size: 16px

.title 
  font-weight: bolder
