<br>
<div class="containerx">
    <h4 class="title">Australian Slang</h4>
    <p class="description">Do you like barbie? No, we are not talking about the barbie doll. Aussies love their "Barbecue" and that's what it means. Do you think you know the Australian slang better?
    </p>
    <div class="radioBox">
        <mat-radio-group class="radioGroup" [(ngModel)]="slangChoice">
            <mat-radio-button [value]="slangs[0]" style="margin-right: 5px">
                {{slangs[0]}}
            </mat-radio-button>
            <mat-radio-button checked=true [value]="slangs[1]">
                {{slangs[1]}}
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <br>
    <br>
    <div *ngIf="slangChoice === 'The Quiz'">
        <iframe class="slangFrame col-md-12" src="https://www.bookwidgets.com/play/VJL24J?teacher_id=5109113659850752"></iframe>
    </div>
    <div *ngIf="slangChoice === 'Slang-o-nyms'">
        <div class="tableGroup mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">

                <!-- Position Column -->
                <ng-container matColumnDef="slang">
                    <th class="tableHeader" mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold; font-size: 18px; color: #091E5B"> Slang </th>
                    <td style="text-align: center" mat-cell *matCellDef="let element"> {{element.slang}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="value">
                    <th class="tableHeader" mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold; font-size: 18px; color:#091E5B"> Meaning </th>
                    <td style="text-align: center" mat-cell *matCellDef="let element"> {{element.value}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>
