

.label
  color: #0c2e8a
  background-color: #50D8AF
  text-shadow: 0 1px 1px rgba(0,0,0,.6)

.label:hover
  background-color: #c0f2e3
  color: #000

.btnBox
  margin-top: 20pt
  display: flex
  align-items: center
  justify-content: center
  font-weight: bolder

.item
  margin-top: 20pt
  display: flex
  align-items: center
  justify-content: center
  font-weight: bolder  

.mainText
   display: flex
   align-items: center
   text-align: center
   justify-content: center
   font-weight: bolder
   font-family: Raleway
   color: #0c2e8a

.t1
  display: table
  width: 100%
  text-align: center

.carText   
  margin: auto
  display: table-cell
  font-weight: bolder

.slideImg
   display: flex
   align-items: center
   text-align: center

@media screen and (max-width: 400px)
  .label
    font-size: 10px
  .mainText
    font-size: 14px
  .carText
    font-size: 14px

@media (min-width: 401px)
  .label
    font-size: 14px
  .mainText
    font-size: 24px
  .carText
    font-size: 24px    

@media (min-width: 768px)
  .label
    font-size: 16px
  .mainText
    font-size: 36px
  .carText
    font-size: 36px    
 