<!--<section id="intro">-->

<!--    <div class="intro-content">-->
<!--        <h2>Heya Mate... <span style="text-decoration:none;">Worry not</span><br>We gotcha back!</h2>-->
<!--        <div>-->
<!--            &lt;!&ndash;      <a href="#about" class="btn-get-started scrollto" >Get Started</a>&ndash;&gt;-->
<!--            <a class="btn-projects scrollto" (click)="openPreference()">Personalize</a>-->
<!--            <br>-->
<!--            <a href="home#purpose" style="text-decoration: none; color: #50d8af" matTooltip="scroll down" matTooltipPosition="right"> <img src="https://img.icons8.com/metro/26/000000/down.png/50d8af"></a>-->

<!--        </div>-->
<!--    </div>-->
<!--Carousel Wrapper-->

<!--
<div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-1z" data-slide-to="1"></li>
        <li data-target="#carousel-example-1z" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img class="d-block w-100" src="../../../assets/images/t032-06.jpg" alt="First slide" />
            <div class="carouselContent">
                <p>We know that adapting to an unfamiliar environment</p>
                <br>
                <p>is not easy.</p>
                <br />
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../../assets/images/t032-05.jpg" alt="Second slide" />
            <div class="carouselContent">
                <p>Are you...?</p>
                <br />
                <p>Feeling <span>lonely</span> or <span>anxious?</span></p>
                <br />
                <p><span>Helpless</span> without guidance?</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../../assets/images/t032-06.jpg" alt="Third slide" />
            <div class="carouselContent">
                <p>Experiencing <span>homesickness?</span></p>
                <br />
                <p>Or just <span>overwhelmed</span> by the culture?</p>
            </div>
        </div>
    </div>

    <div class="carouselContent">
        <ul class="nav-menu">
            <div class="row btnBox">
                <div><a [routerLink]="['/meetups']"><span class="btn label hiddenBtn">Local Meetup Groups</span></a></div>
                <div> <a [routerLink]="['/culture_and_etiquette']"><span class="btn label hiddenBtn">Culture & Etiquette</span></a></div>
                <div><a [routerLink]="['/accommodation']"><span class="btn label hiddenBtn">Find Accommodation</span></a></div>
                <div> <a href="home#services"><span class="btn label hiddenBtn">and much more..</span></a></div>
            </div>
        </ul>
    </div>

    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
-->
<div class="flex-container bigBox">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="slideImg">
                <img class="d-block w-75" src="../../../assets/images/t032-05.jpg" alt="First slide" />
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="owl-carousel owl-theme">
                <div class="item t1">
                    <div class="carText" style="color:#85144b;">international student?</div>
                </div>
                <div class="item t1">
                    <div class="carText" style="color:#0074D9;">care about mental heath and well-being</div>
                </div>
                <div class="item t1">
                    <div class="carText" style="color:#3D9970;">feeling home sick</div>
                </div>
                <div class="item t1">
                    <div class="carText" style="color:#B10DC9">having a culture shock</div>
                </div>
                <div class="item t1">
                    <div class="carText" style="color:#001f3f;">feeling anxious</div>
                </div>
                <div class="item t1">
                    <div class="carText" style="color:#FF851B;">experiencing loneliness</div>
                </div>
                <div class="item t1">
                    <div class="carText" style="color:#2ECC40;">need guidance</div>
                </div>
                <div class="item t1">
                    <div class="carText" style="color:#85144b;">find a well-being specialist</div>
                </div>
                <div class="item t1">
                    <div class="carText" style="color:#111111;">need to speak to a counseller</div>
                </div>
                <div class="item t1">
                    <div class="carText" style="color:#FF4136;">go to a music festival</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="mainText"><strong><U>You've landed in the right place mate! Buckle up & explore!</U></strong></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <ul class="nav-menu">
                <div class="row btnBox">
                    <div><a [routerLink]="['/meetups']"><span class="btn label hiddenBtn">Local Meetup Groups</span></a></div>
                    <div> <a [routerLink]="['/culture_and_etiquette']"><span class="btn label hiddenBtn">Culture & Etiquette</span></a></div>
                    <div><a [routerLink]="['/accommodation']"><span class="btn label hiddenBtn">Find Accommodation</span></a></div>
                    <div> <a href="home#services"><span class="btn label hiddenBtn">and much more..</span></a></div>
                </div>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="slideImg">
                <img class="d-block w-75" src="../../../assets/images/t032-06.jpg" alt="First slide" />
            </div>
        </div>
    </div>
</div>