<app-slides></app-slides>
<app-infograph></app-infograph>
<!--<app-introduction></app-introduction>-->
<app-features-entry></app-features-entry>
<app-visualizations></app-visualizations>
<app-v-six></app-v-six>
<app-external-resources></app-external-resources>
<app-footer></app-footer>
