<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<app-banner></app-banner>
<div [@routeAnimations]="o && o.activatedRouteData 
      && o.activatedRouteData['animation']">
    <router-outlet #o="outlet"></router-outlet>
</div>