.mat-card-content
  font-size: 14px
  text-align: center

.mat-card-title
  font-size: 16px
  text-align: center

a:hover
  cursor: pointer

.example-form
  min-width: 150px
  max-width: 500px
  width: 100%


.example-full-width
  width: 100%

.title 
  font-weight: bolder
