<br />
<div class="container-fluid container">
    <h4 class="title ">Local Meetup Groups</h4>
    <p class="description ">
        Looking for like-minded people or groups for support, learning or sharing? Quickly find and join with our MeetUp group search feature.
    </p>
    <!--    <form class="form-inline md-form mr-auto mb-4 searchForm">-->
    <!--        <input (keyup.enter)="onSearchGroups(inputIssue)" class=" form-control mr-sm-2 " type="text " placeholder=" Search local meetup groups in Melbourne" aria-label="Search " size="80" #inputIssue>-->
    <!--        <i class="material-icons " style="cursor:pointer " (click)="onSearchGroups(inputIssue) ">-->
    <!--        search-->
    <!--      </i>-->
    <!--        <br>-->
    <!--    </form>-->
    <mat-form-field appearance="legacy" class="example-form">
        <mat-label>Search local meetup groups</mat-label>
        <input matInput [(ngModel)]="meetup_search" (keyup.enter)="onSearchGroups(inputIssue)" type="text" class="form-control mr-sm-2" #inputIssue />
    </mat-form-field>
    <!--      <form class="form-inline md-form mr-auto mb-4 searchForm">-->
    <!--        <input class="form-control mr-sm-2" type="text" size="80" placeholder="Search a Local Attraction" aria-label="Search" #inputCountry (keyup.enter)="onSearchPOI(inputCountry)">-->
    <!--        <i class="material-icons" style="cursor:pointer" (click)="onSearchPOI(inputCountry)">-->
    <!--          search-->
    <!--        </i>-->
    <!--        <br>-->
    <!--      </form>-->
    <br />
    <div class="row" *ngIf="!showProgressSnipper">
        <div class="col-sm-6 col-md-6 " *ngFor="let item of items">
            <mat-card>
                <a [href]="item.url" target="_blank"><img mat-card-image [src]="item.image" onError="this.src='../../../assets/images/image_not_found.png' " matTooltip="See details" matTooltipPosition="above" style="max-height: 295px; min-height: 295px" /></a>
                <mat-card-title>{{ item.name }}</mat-card-title>
                <mat-card-content>
                    <p>{{ item.category }}</p>
                    <span> {{ item.members }} members</span>
                </mat-card-content>
                <mat-card-content>
                    <p>{{ item.location }}</p>
                </mat-card-content>
            </mat-card>
            <br />
        </div>
    </div>

    <div class="row" style="position:fixed;top:50%;left:50%">
        <mat-spinner *ngIf="showProgressSnipper"></mat-spinner>
    </div>
</div>