#mapid
  height: 500px

.legend
  height: 80px
  width: 80px
  line-height: 18px
  color: #555

.legend i
  width: 18px
  height: 18px
  float: left
  margin-right: 8px
  opacity: 0.7

.title 
  font-weight: bolder