<br>
<div class="container">
    <h4 class="title">Accommodation</h4>
    <p class="description">Want to find out which suburb has a dominant population from Indian and Chinese background as compared to other nationalities? Also, you can rent an apartment in a suburb based on your choice.</p>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput (keyup.enter)="reloadMap(inputIssue)" placeholder="Search a suburb" #inputIssue>
      </mat-form-field>
      <span><button class="btn" style="background-color: #50D8AF;color: white; margin-left: 10px;float: right" (click)="initialMap()">Reset</button></span>
    </form>

    <div id="mapid"></div>
</div>
