<div class="container-fluid">
    <span mat-dialog-title>Personalize</span>
    <div class="prefBox" mat-dialog-content [formGroup]="form">
        <mat-form-field>
            <mat-label>Country</mat-label>
            <mat-select formControlName="country">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let country of countries" [value]="country">{{country}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let gender of genders" [value]="gender">{{gender}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>University</mat-label>
            <mat-select formControlName="university">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let university of universities" [value]="university">{{university}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select formControlName="issue" multiple>
                <mat-option *ngFor="let issue of issues" [value]="issue">{{issue}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>

        <button class="setButton" mat-button mat-raised-button (click)="setPreference()" cdkFocusInitial>Set</button>

        <br>
        <br>
    </div>
</div>