<br />
<div class="container-fluid container">
    <h4 class="title">Local & International Food</h4>
    <p class="description">
        Everyone loves food. Chinese and Indian cuisine is a popular demand among people in Melbourne. We have got this thing covered for you, just search for the cuisine you would like to have.
    </p>
    <br />
    <mat-form-field appearance="legacy" class="example-form" style="width:400px !important">
        <mat-label>Search for local & international food places</mat-label>
        <input [value]="searchText" name="search" type="search" matInput (keyup.enter)="onSearchRestaurants(inputCountry)" class="form-control mr-sm-2" size="80" #inputCountry />
    </mat-form-field>
    <div class="row" *ngIf="!showProgressSnipper">
        <div class="col-sm-6 col-md-6" *ngFor="let item of items">
            <mat-card>
                <a [href]="item.url" target="_blank"><img mat-card-image [src]="item.photo_reference" onError="this.src='../../../assets/images/image_not_found.png' " matTooltip="See details" matTooltipPosition="above" style="max-height: 300px;max-width: 600px; min-height: 299px" /></a>
                <mat-card-title>{{ item.name }}</mat-card-title>
                <div class="row">
                    <mat-card-content class="rating">
                        <i class="material-icons ratingIcon">star</i
            ><span class="ratingText">{{ item.rating }}</span>
          </mat-card-content>
          <mat-card-content class="location">
            <a
              [href]="item.url"
              target="_blank"
              matTooltip="Details"
              matTooltipPosition="right"
              matTooltipClass="visTooltip"
              ><i class="material-icons">where_to_vote</i></a>
                    </mat-card-content>
                </div>
                <mat-card-content>
                    <p>{{ item.address }}</p>
                </mat-card-content>
            </mat-card>
            <br />
        </div>
    </div>
    <div class="row" style="position:fixed;top:50%;left:50%">
        <mat-spinner *ngIf="showProgressSnipper"></mat-spinner>
    </div>
</div>