////@import "../../../assets/styles/common.sass"
//
//.itemImage
//   display: flex-box
//   text-align: center
//
//.itemContent
//   display: flex-box
//   float: right
//
//.locationIcon
//  float: right
//  padding-right: 5px
//  color: #990000
//  vertical-align: top
//
//.ratingIcon
//  float: left
//  padding-right: 5px
//  color: #FFD700
//
//.ratingText
//    vertical-align: middle
//
//.visTooltip
//    font-weight: bold
//    z-index: 110
//
//img
//  margin: 0 5px 0 10px
//
//.mat-icon
//  margin-left: 2px
//
//.restaurantsBox
//  height: 60vh
//  overflow: auto
//
//.restaurantsBox
//  display: flex-box
//  overflow: auto
//
//input
//  margin-bottom: 0
//
//.description
//  font-size: 16px

.ratingIcon
  padding-right: 5px
  color: #FFD700

.ratingText
  vertical-align: top

.rating
  float: left
  margin-left: 8vw

.location
  float: left
  margin-left: 7vw

.mat-card-content
  font-size: 14px
  text-align: center

.mat-card-title
  font-size: 16px
  text-align: center

a:hover
  cursor: pointer

.title 
  font-weight: bolder
