<header id="header">
    <div class="container">
        <!--    <button type="button" id="mobile-nav-toggle">-->
        <!--      <i class="fa fa-bars">-->
        <!--      </i>-->
        <!--    </button>-->

        <div id="logo" class="pull-left" (click)="openPage('home')">
            <h1>
                <a class="scrollto ">Heya
          <img
            src="../../../assets/images/heya-mate-logo-final.svg "
            height="50 "
            width="50 "
          />
          <span> Mate</span></a
        >
      </h1>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li>
          <a href="home#header" (click)="openPreference()">Personalize</a>
                </li>
                <li><a href="home#services">Services</a></li>
                <li><a href="home#portfolio">Assistance</a></li>
                </ul>
                </nav>
        </div>
</header>

<a class="float-but float-but-2 " id="toTop" matTooltip="Back to top " matTooltipPosition="left"><i class="material-icons ">navigation</i></a
>
<br />
<br />
<a [routerLink]="['/home']" fragment="services" id="toHome" class="float-but float-but-1" matTooltip="Back to Services Home" matTooltipPosition="left"><i class="material-icons">home</i></a
>
<a (click)="openPreference()" id="toPalette" class="float-but float-but-1" matTooltip="Personalize" matTooltipPosition="left"><i class="material-icons">palette</i></a
>