nav a {
    font-style: italic;
    font-family: fantasy;
    color: #FFEB3B;
}

.popup {
    display: none;
}

#box {
    font-style: italic;
    font-family: fantasy;
    color: #FF9800;
}

.navbar {
    margin-bottom: 0;
}


/*# sourceMappingURL=banner.component.css.map */