.float-but
    position: fixed
    cursor: pointer    
    z-index: 999999
    border-radius: 50%
    background-color: #50d8af
    padding: 2pt
    color: #0c2e8a

.float-but-1
    bottom: 10pt
    right: 10pt    

.float-but-2
    bottom: 45pt
    right:  10pt 

.float-but:hover    
    color: #0c2e8a
    background-color: #c0f2e3


#logo
    display: inline-flex

a:hover
    color: #50d8af

@media (min-width: 101px) and (max-width: 400px)
  .float-but
    display: none
  .float-but-2
    display: none    

@media (min-width: 401px) and (max-width: 768px)    
  .float-but
    display: none
  .float-but-2
    display: none     