<div>
    <img src='https://d30y9cdsu7xlg0.cloudfront.net/png/53504-200.png' (click)="onCloseClick()" class="closeImg" />
</div>
<br>
<div class="row">
  <span class="visHeader">
    {{data.visTitle}}
  </span>

</div>

<div class="row">
  <iframe [src]="visUrl">
  </iframe>
</div>
