.closeImg
  cursor: pointer
  float: right
  width: 20px
  display: block

iframe
  width: 80vh
  height: 60vh

.visHeader
  display: flex
  align-items: center
  justify-content: center
  background-color: #50D8AF
  width: 100%
  height: 4vh
  color: white
  font-weight: bolder
  font-size: 17px
