<br>
<br>
<div class="section-header container" id="portfolio">
    <h2>Need assistance now?</h2>
</div>
<div class="container-fluid container">
    <div class="row">
        <div class="col-sm-4 col-md-4">
            <div class="box wow fadeInLeft">
                <a target="_blank" href="https://www.lifeline.org.au/get-help/online-services/crisis-chat" matTooltip="Have an anonymous chat with a professional from Lifeline Australia." matTooltipPosition="above" matTooltipClass="visTooltip">
                    <mat-card>
                        <mat-card-title>
                            <i class="material-icons">chat</i>
                        </mat-card-title>
                        <mat-card-content>
                            <a>Lifeline - 24/7 Anonymous Crisis Support Chat</a>
                        </mat-card-content>
                    </mat-card>

                </a>

            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="box wow fadeInUp">
                <a href="tel:135247" matTooltip="Have an anonymous phone call with a professional from Samaritans." matTooltipPosition="above" matTooltipClass="visTooltip">
                    <mat-card>
                        <mat-card-title>
                            <i class="material-icons">call</i>
                        </mat-card-title>
                        <mat-card-content>
                            <a>Samaritans - 24 X 7 Anonymous Crisis Support</a>
                        </mat-card-content>
                    </mat-card>
                </a>

            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="box wow fadeInRight">
                <a target="_blank" href="https://www.healthdirect.gov.au/australian-health-services/results/melbourne-3000/tihcs-aht-11867/mental-health-services?pageIndex=1&tab=SITE_VISIT" matTooltip="Quickly find your nearest mental health service provider." matTooltipPosition="above"
                    matTooltipClass="visTooltip">
                    <mat-card>
                        <mat-card-title>
                            <i class="material-icons">directions</i>
                        </mat-card-title>
                        <mat-card-content>
                            <a>National Health Directory for Mental Health Services</a>
                        </mat-card-content>
                    </mat-card>
                </a>
            </div>
        </div>
    </div>
</div>