//@import "../../../assets/styles/common.sass"
//
//
.material-icons
    font-size: 48px
    color: #091E5B

mat-card
  text-align: center

mat-card-content
    text-align: center

mat-card-content > a
  font-size: 25px

mat-card-av

.visTooltip
    //background: $accent-color-2 !important
    //color: $secondary-color !important
    font-weight: bold


mat-card
    border-radius: 0px
    flex: 1 400px


.box
    box-shadow: 1px 2px 1px rgba(73, 78, 92, 0.1)
    transition: 0.4s

.box:hover 
    box-shadow: 10px 10px 10px rgba(73, 78, 92, 0.15)
    transform: translateY(-10px)
    -webkit-transform: translateY(-10px)
    -moz-transform: translateY(-10px)