<br>
<div class="container-fluid container">

    <div class="container-fluid eventsBox">
      <h4 class="title">Local Events</h4>
      <p class="description">Game for attending local events? Film, music, sport; you can search it all.</p>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Choose your preference</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let item of optionsSelect" [value]="item.value" (click)="onOptionSelected(item.value)">
                            {{item.label}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <br>
        <div class="row" *ngIf="!showProgressSnipper">
            <div class="col-sm-6 col-md-6" *ngFor="let item of items">
                <mat-card>
                    <a [href]="item.url" target="_blank"><img mat-card-image [src]="item.image" onError="this.src='../../../assets/images/image_not_found.png' " matTooltip="See details" matTooltipPosition="above"></a>
                    <mat-card-title>{{item.name}}</mat-card-title>
                    <mat-card-content>
                        <p>Start: {{item.start}}</p>
                        <p>End: {{item.end}}</p>
                    </mat-card-content>
                </mat-card>
                <br>
            </div>
        </div>
        <div class="row" style="position:fixed;top:50%;left:50%">
            <mat-spinner *ngIf="showProgressSnipper"></mat-spinner>
        </div>
    </div>
</div>
