.catFilter
  float: left
  margin-right: 5vw
  overflow: hidden

.linksBox
  display: flex
  flex-wrap: wrap
  align-items: stretch
.links
  flex: 1 400px
  margin: 10px

img
  width: 80px
  height: 80px

mat-card-title
  margin-top: 20px
  text-align: center

a
  color: #000
a:hover
  color: #000

.box
    box-shadow: 1px 2px 1px rgba(73, 78, 92, 0.1)
    transition: 0.4s

.box:hover 
    box-shadow: 10px 10px 10px rgba(73, 78, 92, 0.15)
    transform: translateY(-10px)
    -webkit-transform: translateY(-10px)
    -moz-transform: translateY(-10px)