<div class="col-md-12"></div>
<br>
<div class="container-fluid container" id="portfolio">
    <div class="section-header">
        <h2>Help and support from others...</h2>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="catFilter">
                <mat-form-field>
                    <mat-label>Category</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let catFilter of catFilters" [value]="catFilter" (click)='onFilter(catFilter)'>{{catFilter}}</mat-option>
                    </mat-select>
                    <mat-hint>Select category to filter resources</mat-hint>
                </mat-form-field>
            </div>
        </div>

    </div>

    <br>
    <div class="linksBox">
        <ng-container *ngFor="let resource of resources">
            <ng-container *ngIf="resource[0] === 'Y'">
                <mat-card class="resourcecard links">
                    <ng-container>
                        <a [href]="resource[3]" target="_blank">
                            <mat-card-header class="box wow">
                                <a [href]="resource[3]" target="_blank">
                                    <mat-card-title>{{resource[2]}}</mat-card-title>
                                </a>
                                <img [src]="imagePath+resource[4]" alt="" mat-card-avatar>
                            </mat-card-header>
                            <mat-card-content>
                                <br> {{resource[5]}}
                            </mat-card-content>
                        </a>
                    </ng-container>

                </mat-card>

            </ng-container>
        </ng-container>
    </div>
</div>