
.ratingIcon
  margin-left: 10px
  padding-right: 5px
  color: #FFD700

.rating
  float: left
  margin-left: 8vw

.location
  float: left
  margin-left: 7vw

.mat-card-content
  font-size: 14px
  text-align: center

.mat-card-title
  font-size: 16px
  text-align: center
.mat-card-title > i
  vertical-align: middle

a:hover
  cursor: pointer

.title 
  font-weight: bolder


