<br />
<div class="container">
    <h4 class="title">Local Attractions</h4>
    <p class="description">
        Do you believe in Wanderlust? Well, then this will be a dazzling experience for you. Find out for yourself why Melbourne tops the list of most livable cities in the world.
    </p>

    <form class="form-inline md-form mr-auto mb-4 searchForm">
        <input class="form-control mr-sm-2" type="text" size="80" placeholder="Search a Local Attraction" aria-label="Search" #inputCountry (keyup.enter)="onSearchPOI(inputCountry)" />
        <i class="material-icons" style="cursor:pointer" (click)="onSearchPOI(inputCountry)">
      search
    </i>
        <br />
    </form>
    <div class="row" *ngIf="!showProgressSnipper">
        <div class="col-sm-6 col-md-6" *ngFor="let item of items">
            <a [href]="item.url" target="_blank">
                <mat-card matTooltip="See details" matTooltipPosition="above">
                    <img mat-card-image [src]="item.photo_reference" onError="this.src='../../../assets/images/image_not_found.png' " style="min-height: 300px; max-height: 300px; max-width: 600px" />
                    <mat-card-title>{{ item.name }}<i class="material-icons ratingIcon">star</i
            ><span class="ratingText">{{ item.rating }}</span></mat-card-title
          >
          <mat-card-content>
            <p>{{ item.address }}</p>
          </mat-card-content>
        </mat-card></a
      >
      <br />
    </div>
  </div>
  <div class="row" style="position:fixed;top:50%;left:50%">
    <mat-spinner *ngIf="showProgressSnipper"></mat-spinner>
  </div>
</div>