/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

/*$primary-color: rgb(63, 81, 181);
$accent-color: rgb(233, 30, 99);
$primary-color: #673AB7;*/

$primary-color: #673AB7;
$accent-color: #FFD740;
$tertiary-color: #673AB7;
$head1-font-size: 20pt;
$head2-font-size: 18pt;
$text1-font-size: 14pt;
$text2-font-size: 12pt;
.sectionHeader {
    display: flex;
    margin-top: 0vh;
    padding: 0 0 0 3vw;
    align-items: left;
    justify-content: left;
    height: 10vh;
    background-color: $primary-color;
    color: $accent-color;
}

.subSectionHeader {
    display: flex-box;
    margin-top: 0vh;
    padding: 0 0 0 5vw;
    align-items: left;
    justify-content: left;
    height: 8vh;
    background-color: $primary-color;
    color: $primary-color;
}

.appFooter {
    display: flex;
    margin-top: 2vh;
    padding: 1vh 0 0 0;
    align-items: center;
    justify-content: center;
    height: 4vh;
    background-color: $tertiary-color;
    color: $accent-color;
}

.appHeader {
    display: flex;
    padding: 2vh 0 2vh 0;
    align-items: left;
    justify-content: left;
    height: 12vh;
    background-color: white;
    color: white;
}

iframe {
    height: 75vh;
    width: 60vw;
    margin: auto;
}

.visHeader {
    display: flex;
    //margin-top: 2vh;
    padding: 1vh 0 0 0;
    align-items: center;
    justify-content: center;
    height: 4vh;
    background-color: $tertiary-color;
    color: white;
    font-weight: bolder;
    font-size: 17px;
}

* {
    font-family: Roboto, Mono;
}

@media (min-width: 101px) and (max-width: 400px) {
    .visHeader {
        font-size: 10px;
    }
}

@media (min-width: 101px) and (max-width: 400px) {
    .visHeader {
        font-size: 10px;
    }
}

@media (min-width: 401px) and (max-width: 768px) {
    .visHeader .subSectionHeader {
        font-size: 12px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {}

@media (min-width: 993px) {}