<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<br>
<div class="sectionHeader">
    <span>Seeking "help" to overcome...</span>
</div>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-md-2"></div>
        <div class="col-sm-4 col-md-4">
            <mat-card class="coreCard">

                <mat-card-title>Culture Shock</mat-card-title>

                <img mat-card-image src="./../../assets/images/culture_shock.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        Australia is a tremendous country for international students. So get stuck in, be yourself, experience the country’s fads and totally enjoy your time here. We can help you in getting used to the ‘Straya life, just click the button below to explore more.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button (click)="openPopup(true,false,false)" mat-raised-button color="primary">Explore</button>
                </mat-card-actions>
            </mat-card>
            <br>
        </div>
        <div class="col-sm-4 col-md-4">
            <mat-card class="coreCard">

                <mat-card-title>Homesickness</mat-card-title>

                <img mat-card-image src="./../../assets/images/home_sick.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        We totally understand that this is a new country for many students. However, please consider it a home away from home. Did you know, There are a lot of famous Chinese and Indian restaurants in Melbourne? Click the button below to find what we have got
                        for you.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button (click)="openPopup(false,true,false)" mat-raised-button color="primary">Explore</button>
                </mat-card-actions>
            </mat-card>
            <br>
        </div>
        <div class="col-sm-2 col-md-2"></div>
        <!--
        <div class="col-sm-4 col-md-4">
            <mat-card class="coreCard">

                <mat-card-title>Loneliness & Anxiety</mat-card-title>

                <img mat-card-image src="./../../assets/images/lonely_anxious.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        Two of the biggest issues in today’s world. Every day there are more and more people who feel alone. They don’t want to, but they don’t know what to do about it. They see it as a problem, but they don’t know how to solve it or live with it without it
                        causing them harm.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button (click)="openPopup(false,false,true)" mat-raised-button color="primary">Explore</button>
                </mat-card-actions>
            </mat-card>

        </div>-->
    </div>
</div>